/* .navbar {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 2rem;
    height: 6rem;
    margin: 0%;
}

.card {
    margin: 3rem;
    width: 15rem;
    border: 2px solid lightgray;
    box-shadow: 10px 5px 5px lightslategrey;
}

.card-header {
    background-color: lightblue;
    color: white;
}

.header {
    margin: 1rem;
}

.card-body {
    background-color: beige;
} */